<% flash.each do |name, msg| %>
    <div class="alert alert-info alert-danger" role="alert">
      A simple info alert—check it out!
        <button class = "close" data-dismiss="alert">
            <small>x</small>
        </button>
        <%= content_tag(:div, msg) %>
    </div>
<% end %>
