<center>

<h1>Project Summary</h1>
<p>
An application that allows a user to look up current stock prices.  They can also create an
account and add which stocks they own. They can config the amount of the stock they own
and see their total.

</p>
<br /><br /><br />


<h2>Work Cited/Sources of Help</h2>
<p>
<br />Links<br />
https://guides.rubyonrails.org/active_record_basics.html <br />
https://www.railstutorial.org/book/<br />
https://getbootstrap.com/<br />
<br />Gems<br />
https://rubygems.org/gems/stock_quote<br />
https://rubygems.org/gems/devise<br />
https://rubygems.org/gems/pg
</p>
</center>
